

<h1>Today's Routine</h1>
<h4>

Today's exercise program has you doing <%= @exercise.name.to_s %> <p></p>



You need to exercise for 5 minutes <p></p>

You should be able to burn <%= @exercise.calories_consumed.to_s %> calories</h4>

Best of luck, and get cracking               .